@keyframes semicircle1 {
  from {
    height: 400px;
    width: 200px;
  }
  to {
    height: 700px;
    width: 350px;
  }
}

@keyframes semicircle2 {
  from {
    height: 400px;
    width: 200px;
  }
  to {
    height: 1000px;
    width: 500px;
  }
}

.semicircle {
  height: 400px;
  width: 200px;
}

.semicircle1InView {
  animation: semicircle1 0.2s ease-in-out 0s forwards; /* Add delay of 2 seconds */
}

.semicircle2InView {
  animation: semicircle2 0.5s ease-in-out 0.5s forwards; /* Add delay of 4 seconds */
}

@media only screen and (max-width: 1100px) {
  @keyframes smallsemicircle1 {
    from {
      height: 300px;
      width: 150px;
    }
    to {
      height: 600px;
      width: 300px;
    }
  }

  @keyframes smallsemicircle2 {
    from {
      height: 300px;
      width: 150px;
    }
    to {
      height: 900px;
      width: 450px;
    }
  }

  .semicircle {
    height: 300px;
    width: 150px;
  }

  .semicircle1InView {
    animation: smallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: smallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 900px) {
  @keyframes doublesmallsemicircle1 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 500px;
      width: 250px;
    }
  }

  @keyframes doublesmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 800px;
      width: 400px;
    }
  }

  .semicircle {
    height: 200px;
    width: 100px;
  }

  .semicircle1InView {
    animation: doublesmallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: doublesmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 800px) {
  @keyframes triplesmallsemicircle1 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 550px;
      width: 300px;
    }
  }

  @keyframes triplesmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 750px;
      width: 400px;
    }
  }

  .semicircle {
    height: 200px;
    width: 100px;
  }

  .semicircle1InView {
    animation: triplesmallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: triplesmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 700px) {
  @keyframes forthsmallsemicircle1 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 450px;
      width: 250px;
    }
  }

  @keyframes forthsmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 650px;
      width: 350px;
    }
  }
  .semicircle1InView {
    animation: forthsmallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: forthsmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 500px) {
  @keyframes forthsmallsemicircle1 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 475px;
      width: 200px;
    }
  }

  @keyframes forthsmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 550px;
      width: 300px;
    }
  }
  .semicircle1InView {
    animation: forthsmallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: forthsmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
  @keyframes sixthsmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 450px;
      width: 225px;
    }
  }

  .semicircle2InView {
    animation: sixthsmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 450px) {
  @keyframes seventhsmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 400px;
      width: 200px;
    }
  }

  .semicircle2InView {
    animation: seventhsmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 400px) {
  @keyframes eightsmallsemicircle1 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 275px;
      width: 137.5px;
    }
  }

  @keyframes eightsmallsemicircle2 {
    from {
      height: 200px;
      width: 100px;
    }
    to {
      height: 350px;
      width: 175px;
    }
  }

  .semicircle1InView {
    animation: eightsmallsemicircle1 0.2s ease-in-out 0s forwards;
  }

  .semicircle2InView {
    animation: eightsmallsemicircle2 0.5s ease-in-out 0.5s forwards;
  }
}
