@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./animation.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0px !important;
  font-family: "Rajdhani", sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#navbar {
  background: linear-gradient(
    270deg,
    #242424 0%,
    rgba(41, 41, 41, 0.93) 52.58%,
    rgba(224, 224, 224, 0.85) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* 
.commissioner {
  flex-shrink: 0;
  font-family: "Commissioner", sans-serif;
} */

.rajdhani {
  font-family: "Rajdhani", sans-serif;
  flex-shrink: 0;
}

#homePage {
  background: linear-gradient(180deg, #131313 0%, #7e7c7c 100%);
  flex-shrink: 0;
}

#canvas {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  #canvas {
    width: 95%;
    height: 100%;
    margin: auto;
  }
}

.achievement-message {
  position: absolute;
  background: rgba(51, 51, 51, 0.49);
  border: 1px solid #fff;
  border-radius: 6px;
  color: #ffa115;
  padding: 5px;
  z-index: 10000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.myCarouselDots {
  bottom: -20px;
}

.myCarouselForHome {
  height: 350px;
  width: 90%;
}
